<div class="layout-guides" data-visible="0">
  <div class="container">
    <div class="row">
      {%- for i in 1..grid.columns -%}
        <div class="col-1"><p>{{ i }}</p><p>{{ i }}</p></div>
      {%- endfor -%}
    </div>
  </div>
</div>

<div class="layout-breakpoints" data-visible="0"></div>
