<script>document.documentElement.classList.remove('no-js');</script>

<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no"> 

<meta name="theme-color" content="{{ colors.metaThemeColor }}">
<title>{{ title|default("Page Title") }}</title>

<!-- inject:css -->
<link rel="stylesheet" href="/assets/css/libs/normalize.css">
<link rel="stylesheet" href="/assets/css/color-vars.css">

{% for cssFile in cssLibs %}
<link rel="stylesheet" href="/assets/css/libs/{{ cssFile }}.css">
{%- endfor %}

<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/layout-helpers.css">
<!-- endinject -->
