node_modules/
build/
todo/

# all the items listed below are generated on every gulp runapp, so no need to keep them in repo
app/__core/__config/_settings.sass
app/assets/css/libs/normalize.min.css
app/assets/css/maps/
app/assets/css/color-vars.min.css
app/assets/css/common.min.css
app/assets/css/layout-helpers.min.css
app/assets/js/maps/
app/assets/js/common.min.js
app/assets/js/components.min.js
app/*.html