{% extends "/layouts/le_layout.twig" %}
{% set title = "Index Page" %}

{% block content %}
  
<div class="container">
  <div class="row">
    <div class="col-fluid">
      <h1>Heading</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis est minima quasi earum similique accusamus aliquid soluta architecto eos nesciunt, dicta quidem fugit minus asperiores dolorem. Dolor laudantium consectetur officiis.</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam a cumque, expedita, similique harum ipsam aut. Expedita sunt laboriosam, id maxime dolorum adipisci aut quasi temporibus deleniti minus voluptate, eum.</h3>
    </div>
     <div class="col-fluid">
        <div class="color color-l-5"></div>
        <div class="color color-l-4"></div>
        <div class="color color-l-3"></div>
        <div class="color color-l-2"></div>
        <div class="color color-l-1"></div>
        <div class="color"></div>
        <div class="color color-d-1"></div>
        <div class="color color-d-2"></div>
        <div class="color color-d-3"></div>
        <div class="color color-d-4"></div>
        <div class="color color-d-5"></div>
     </div> 
  </div>
</div>

{% endblock %}
