{% extends '/layouts/layout-example.twig' %}
{% set title = 'Page Example' %}
{% set cssLibs = ['mylib'] %}
{% set jsCmps = [] %}
{% set jsLibs = [] %}

{% block content %}
  
<div class="container">
  <div class="row">
    <div class="col-fluid">
      <h1>LemonEezee frontend template</h1>
    </div>
  </div>  
</div>

{% endblock %}
