{% extends '/layouts/layout-example.twig' %}
{% set title = 'Page Example' %}

{% block content %}
  
<div class="container">
  <div class="row">
    <div class="col-fluid">
      <h1>LemonEezee frontend template</h1>      
    </div>
  </div>
  <div class="row">
    <div class="col-fluid">
      {% include '/components/forms/fields.twig' with
          {
            placeholder: 'Some text'
          }
      %}
    </div>
  </div>
</div>

{% endblock %}
