{% extends '/layouts/layout-example.twig' %}
{% set title = 'Page Example' %}

{% block content %}
  
<div class="container">
  <div class="row">
    <div class="col-fluid">
      <h1>LemonEezee frontend template</h1>
    </div>
  </div>  
  <div class="row">
    <div class="col-fluid">
      
{% include '/components/form-fields/form-fields.twig' with
    {
      formFieldClass: 'form-field--general',
      fieldInputClass: 'field-input--colored',
      name: 'username',
      label: 'What is your name?',
      niceLabel: true,
      type: 'text',
      placeholder: 'Write your name and lastname',
      class: 'super-input',
      leftIcon: 'user',
      leftButton: 'eye-open',
      leftButtonAttributes: 'class="js-type" aria-label="Toggle smth"',
      rightButton: 'eye-closed',
      rightIcon: 'lock',
      rightButtonAttributes: 'class="js-password" aria-label="Toggle password"',
      showError: true      
    } only
%}      
      
    </div>
  </div>
</div>

{% endblock %}
